<% yield %>

<%
form ||= current_fields_form
options ||= {}
other_options ||= {}
%>

<%= render 'shared/fields/field', form: form, method: method, helper: :file_field, options: options, other_options: other_options do %>
  <% content_for :field do %>
    <div class="file-field" data-controller="fields--file-field">
      <%= form.file_field method, class: 'file-upload hidden', direct_upload: true, multiple: true, data: {'fields--file-field-target': 'fileField', action: 'change->fields--file-field#handleFileSelected'} %>
      <div>
        <% if form.object.send(method).attached? %>
          <div class="divide-y-2 divide-dashed">
            <% form.object.send(method).each do |file| %>
              <div data-controller="fields--files-field" data-fields--files-field-id-value="<%= file.id %>"> <!--TODO: rename controller to specific name eg: single file -->
                <%= form.hidden_field "#{method}_removal".to_sym, multiple: true, value: nil, data: {'fields--files-field-target': 'removeFileFlag'} %>
                <span><%= file.blob.filename %></span>
                <%= link_to url_for(file), class: 'button download-file mr-3', data: {'fields--files-field-target': 'downloadFileButton'} do %>
                  <i class="leading-none mr-2 text-base ti ti-download"></i>
                  <span>Download Document</span>
                <% end %>
                <div class="button-alternative cursor-pointer mr-3" data-action="click->fields--files-field#removeFile" data-fields--files-field-target="removeFileButton">
                  <i class="leading-none mr-2 text-base ti ti-trash"></i>
                  <span>Remove Document</span>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="mt-2">
        <div class="button-alternative cursor-pointer" data-action="click->fields--file-field#uploadFile" data-fields--file-field-target="selectFileButton">
          <i class="leading-none mr-2 text-base ti ti-upload dark:text-white"></i>
          <span class="dark:text-white">Upload New Documents</span>
        </div>
        <div class="mt-2 hidden overflow-hidden text-xs rounded bg-gray-100 shadow-inner relative">
          <div data-fields--file-field-target="progressBar" aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" class="absolute top-0 left-0 whitespace-nowrap overflow-hidden animate-pulse bg-primary-500 dark:bg-darkPrimary-800 rounded" role="progressbar" style="width: 0%;">&nbsp;</div>
          <div class="text-black text-center" data-fields--file-field-target="progressLabel">0%</div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
