<% yield %>

<%
stimulus_controller = 'fields--options'

form ||= current_fields_form
html_options ||= {}
html_options[:id] ||= id_for(form, method)
multiple ||= false
show_select_all ||= false
other_options ||= {}
options ||= options_for(form, method)
labels = labels_for(form, method)
%>

<%= render 'shared/fields/field', form: form, method: method, options: html_options, other_options: other_options do %>
  <% content_for :field do %>
    <div class="pt-1.5 pb-1 sm:col-span-2" data-controller="<%= stimulus_controller %>">
      <div class="max-w-lg space-y-3">
        
        <% if multiple && show_select_all %>
          <label class="relative flex items-start mb-8">
            <div class="flex items-center h-5">
              <%= check_box_tag "#{html_options[:id]}-select_all", 'select-all', false, data: { 
                "#{stimulus_controller}-target": 'selectAllCheckbox',
                'action': "#{stimulus_controller}#selectAllOrNone"
              }, class: "focus:ring-blue h-4 w-4 text-blue border-gray-300 rounded" %>
            </div>
            <div class="ml-2.5 text-sm">
              <%= tag.div class: "select-none", data: {
                "fields--options-target": "selectAllLabel",
                "controller": "text-toggle",
                "action": "click->fields--options#selectAllOrNone",
                "text-toggle-label-value": "Select All",
                "text-toggle-alternate-label-value": "Select None"
              } do %>
                Select All
              <% end %>
            </div>
          </label>
        <% end %>

        <% options.each do |value, label| %>

          <label class="relative flex items-start">
            <div class="flex items-center h-5">

              <% if multiple %>
                <%= form.check_box method, {multiple: multiple, checked: form.object.send(method).map(&:to_s).include?(value.to_s), data: { "#{stimulus_controller}-target": 'checkbox', 'action': "#{stimulus_controller}#updateSelectAllCheckbox" }, class: "focus:ring-blue h-4 w-4 text-blue border-gray-300 rounded"}, value, "" %>
              <% else %>
                <%= form.radio_button method, value, {class: "focus:ring-blue h-4 w-4 text-blue border-gray-300"} %>
              <% end %>

            </div>
            <div class="ml-2.5 text-sm">
              <div class="select-none"><%= label %></div>
              <% if labels.options_help&.dig(value)&.present? %>
                <p class="mt-0.5 text-xs text-gray-500">
                  <%= labels.options_help.dig(value) %>
                </p>
              <% end %>
            </div>
          </label>

        <% end %>

      </div>
    </div>
  <% end %>
<% end %>
